body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
}
.dancefloor{
  width:100%;
  height:96.8%;
  background-color: black;
  background-image: url('dance_floor4.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.title {
  padding:5px 12px;
  float:left;
}
.addRedButton{
  padding:5px 12px;
  float:right;
}
.addBlueButton{
  padding:5px 12px;
  float:right;
}
.addGreenButton{
  padding:5px 12px;
  float:right;
}
.leftLineUpButton{
  padding:5px 12px;
  float:left;
}
.rightLineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  opacity: 0.4;
  position:absolute;
}
.red{
  border:50px solid red;
  border-radius:50px;
}
.blue{
  border:40px solid blue;
  border-radius:40px;
}
.green{
  border:30px solid green;
  border-radius:30px;
}
.aqua{
  border:50px solid aqua;
  border-radius:50px;
}
.gold{
  border:40px solid gold;
  border-radius:50px;
}
.magenta{
  border:30px solid magenta;
  border-radius:30px;
}